<!DOCTYPE html>
<!--[if IE 8]> <html lang="pt-br" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="pt-br">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Coral | {% block title %}{% endblock %}</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	{% load static %}

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>	
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="{% static '/template/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css' %}" rel="stylesheet" />
	<link href="{% static '/template/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static '/template/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
	<link href="{% static '/template/css/animate.min.css' %}" rel="stylesheet" />
	<link href="{% static '/template/css/style.min.css' %}" rel="stylesheet" />
	<link href="{% static '/template/css/style-responsive.min.css' %}" rel="stylesheet" />
	<link href="{% static '/template/css/theme/blue.css' %}" rel="stylesheet" id="theme" />
	<style type="text/css">
		.menu-title-coral {
			color: #120A8F;
			font-weight: bold;
		}

		.logo-sidebar {
			margin-top: 18px;
		}
	</style>
	<!-- ================== END BASE CSS STYLE ================== -->
	

	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	{% block styles %}{% endblock %}
	<!-- ================== END PAGE LEVEL STYLE ================== -->

	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static '/template/plugins/pace/pace.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
	<!-- begin #header -->
	<div id="header" class="header navbar navbar-default navbar-fixed-top" style="min-height: 80px!important;">
		<!-- begin container-fluid -->
		<div class="container-fluid">
			<!-- begin mobile sidebar expand / collapse button -->
			<div class="navbar-header">
				<a href="/home">
					<img src="{% static 'images/logo-horizontal.png' %}" class="logo-sidebar">
				</a>
				<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- end mobile sidebar expand / collapse button -->
			
			<!-- begin header navigation right -->
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown navbar-user">
					<a href="/home" class="dropdown-toggle" data-toggle="dropdown">
						<div>
							<img src="{% static '/template/img/ecossistema.png' %}" alt="" style="display: block;margin-left: auto !important;margin-right: auto !important; float: none!important;"/> 
							
							<span class="hidden-xs menu-title-coral">Ecossistema</span>
						</div>
					</a>
				</li>

				<li class="dropdown navbar-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<div>
							<img src="{% static '/template/img/especialista.png' %}" alt="" style="display: block;margin-left: auto !important;margin-right: auto !important; float: none!important;"/> 
							
							<span class="hidden-xs menu-title-coral">Especialista</span>
						</div>
					</a>
				</li>

				<li class="dropdown navbar-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<div>
							<img src="{% static '/template/img/recomendacao.png' %}" alt="" style="display: block;margin-left: auto !important;margin-right: auto !important; float: none!important;"/> 
							
							<span class="hidden-xs menu-title-coral">Recomendação</span>
						</div>
					</a>
				</li>

				<li class="dropdown navbar-user">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<img src="{% static '/template/img/profile.png' %}" style="display: block;margin-left: auto !important;margin-right: auto !important; float: none!important;" /> 
						<span class="hidden-xs menu-title-coral">{{ current_user }}</span> <b class="caret"></b>
					</a>
					<ul class="dropdown-menu animated fadeInLeft">
						<li class="arrow"></li>
						<li><a href="javascript:alert('Em desenvolvimento');">Editar perfil</a></li>
						<li class="divider"></li>
						<li><a href="/logout">Sair</a></li>
					</ul>
				</li>
			</ul>
			<!-- end header navigation right -->
		</div>
		<!-- end container-fluid -->
	</div>

		

		<!-- ================== CONTENT ================== -->
		{% block content %}{% endblock %}
		<!-- ================== END CONTENT ============== -->

		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static '/template/plugins/jquery/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static '/template/plugins/jquery/jquery-migrate-1.1.0.min.js' %}"></script>
	<script src="{% static '/template/plugins/jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
	<script src="{% static '/template/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--[if lt IE 9]>
		<script src="{% static '/template/crossbrowserjs/html5shiv.js' %}"></script>
		<script src="{% static '/template/crossbrowserjs/respond.min.js' %}"></script>
		<script src="{% static '/template/crossbrowserjs/excanvas.min.js' %}"></script>
	<![endif]-->
	<script src="{% static '/template/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static '/template/plugins/jquery-cookie/jquery.cookie.js' %}"></script>

	<script>
		// Função para marcar as subcategorias e categorias com o active
		$(".sub-menu > li").each(function() {
			$(this).find("a").each(function(){
				if (this.href == window.location.href)
				{
					$(this).parents("li").addClass("active");
					$(this).parents("li.has-sub").addClass("active");
				}
			});
		});
	</script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	{% block scripts %}{% endblock %}
	<!-- ================== END PAGE LEVEL JS ================== -->
</body>
</html>