<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Coral - Index</title>
	
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>

</head>
<body>
	
</body>
</html>

	Aqui será a index do coral! 
<br>
	Urls ativas (index, home, login, logout):
<br>
<br>
<br>
<br>
<a href="/login">Fazer login</a>