{% extends "_layouts/base.html" %}
{% load static %}

{% block title %}Projeto{% endblock %}

{% block styles %} 
	<link href="{% static '/template/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />

	<link href="{% static '/template/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block menuitens %} 
<li class="dropdown navbar-user">
    <a href="/graph_specialist/3" class="dropdown-toggle">
        <div>
            <img src="{% static '/template/img/especialista.png' %}" alt="" style="display: block;margin-left: auto !important;margin-right: auto !important; float: none!important;"/> 
            
            <span class="hidden-xs menu-title-coral">Especialistas</span>
        </div>
    </a>
</li>

<li class="dropdown navbar-user">
    <a href="/graph_reputation/3" class="dropdown-toggle">
        <div>
            <img src="{% static '/template/img/recomendacao.png' %}" alt="" style="display: block;margin-left: auto !important;margin-right: auto !important; float: none!important;"/> 
            <span class="hidden-xs menu-title-coral">Reputação</span>
        </div>
    </a>
</li>
{% endblock %}

{% block content %}
<div id="content" class="content">

	<h1 class="page-header">Projeto ecossistemas do Rio de Janeiro
	<br>
	<small>Detalhamento do projeto</small></h1>
	
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    </div>
                    <h4 class="panel-title">Detalhamento</h4>
                </div>
                <div class="panel-body panel-form">
                    <form class="form-horizontal form-bordered" data-parsley-validate="true" name="demo-form">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="fullname">Nome do projeto:</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" id="fullname" name="fullname" value="Projeto ecossistemas do Rio de Janeiro"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="description">Descrição:</label>
                            <div class="col-md-6 col-sm-6">
                                <textarea class="form-control" rows="4" cols="50" name="description" data-parsley-type="email" placeholder="Descrição"/>Estudo de caso empregado no ecossistema empreendedor do Rio de Janeiro</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="website">Criação do projeto:</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" id="fullname" name="fullname" value="20/11/2017"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="website">Hubs e Keystones</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" id="hubs" name="hubs">
                            </div>
                        </div>                        



                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="description">Visão geral da comunidade:</label>
                            <div class="col-md-6 col-sm-6">
                                <textarea class="form-control" rows="4" cols="50" name="description" data-parsley-type="email" placeholder="Descrição"/>Comunidade empreendedora desenvolvida aos do ecossistema empreendedor do Rio de Janeiro. A comunidade contém em geral Stakeholders, fornecedores, pessoas chave dentro de cada empresa e o gestor da incubadora que tangencia o funcionamento e recomendações em questão.</textarea>
                            </div>
                        </div>                        

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="description">Estabeleça uma estratégia de pesquisa</label>
                            <div class="col-md-6 col-sm-6">
                                <textarea class="form-control" rows="4" cols="50" name="description" data-parsley-type="email" placeholder="Descrição"/>A estretégia para esta pesquisa consiste em triangular dados das bases de dados Linkedin e Reinc para encontrar nós próximos e contruir a rede da IETEC.</textarea>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="website">Fonte de dados</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" id="hubs" name="hubs" value="Linkedin; Reinc;">
                            </div>
                        </div>                        

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="website">Rastreadores web</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" id="hubs" name="hubs" value="crawler_linkedin.py;">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="website">Prazo da coleta de dados</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" id="hubs" name="hubs" value="1 ano">
                            </div>
                        </div>                        

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4" for="website">Descrever a avaliação da qualidade</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" type="text" id="hubs" name="hubs" value="Um nó tem qualidade para entrar na análise quando é diretamente ligado a algum agente do ecossistema">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4"></label>
                            <div class="col-md-6 col-sm-6">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
	<script src="{% static '/template/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
	<script src="{% static '/template/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static '/template/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>

	<script src="{% static '/template/js/table-manage-default.demo.min.js' %}"></script>
	<script src="{% static '/template/js/apps.min.js' %}"></script>
	
	<script>
		$(document).ready(function() {
			App.init();
			TableManageDefault.init();
		});
	</script>
{% endblock %}